@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #31352E;
}

header{
    background: gray url(../imagens/headerp.jpg) no-repeat center;
    height: 300px;
    background-size: cover;
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.578);
    border-bottom:solid 3px #31352e5b;
}

nav#navh{ 
    padding: 5px;
    border-radius: 6px;
}

nav > a{
    background-color: rgba(24, 24, 24, 0.566);
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 6px;
}

    nav > a:hover{   
        background-color: black;
        transition: 0.5s;
}

section{
    color: white;
    background-color: #31352E;
}

section#sec1 > h1{
    font-size: 2.0em;
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.296);
    border-radius: 3px;
}

section#sec1{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.296);
    text-align: center;
}

section#sec2{
    padding: 10px;
}

h2{
    font-size: 1.8em;
}

h3{
    padding: 10px;
    font-size: 1.5em;
}

div.imgc{
    background: url(../imagens/exterior2p.jpg) no-repeat center ;
    background-size: cover;
   padding: 10px;
    height: 300px;
    width: 350px;
}

div.imgc > div{
    background-color: #00000071;
    height: 180px;
    box-shadow: 3px 3px 5px black;
    border-radius: 3px;
}

div.imgc > div > p{
    padding: 10px;
    font-size: 1.3em;
}

div.imgd{
    margin-top: 20px;
    background: url(../imagens/exterior1p.jpg) no-repeat center right;
     background-size: cover;
   padding: 10px;
    height: 300px;
    width: 350px;
    background-attachment: fixed;
}

div.imgd > div{
    background-color: #00000071;
    height: 180px;
    box-shadow: 3px 3px 5px black;
    border-radius: 3px;
}

div.imgd > div > p{
    padding: 10px;
    font-size: 1.3em;
}

div.imge{
    margin-top: 20px;
    background: url(../imagens/farolp.jpg) no-repeat center bottom;
     background-size: cover;
   padding: 10px;
    height: 300px;
    width: 350px;
}

div.imge > div{
    background-color: #00000071;
    height: 180px;
    box-shadow: 3px 3px 5px black;
    border-radius: 3px;
}

div.imge > div > p{
    padding: 10px;
    font-size: 1.3em;
}

div.imgf{
    margin-top: 20px;
    background: url(../imagens/interiorp.jpg) no-repeat center bottom;
     background-size: cover;
   padding: 10px;
    height: 300px;
    width: 350px;
    background-attachment: fixed;
}

div.imgf > div{
    background-color: #00000071;
    height: 290px;
    box-shadow: 3px 3px 5px black;
    border-radius: 3px;
}

div.imgf > div > p{
    padding: 10px;
    font-size: 1.3em;
}

div.imgg{
    margin-top: 20px;
    background: url(../imagens/roda2p.jpg) no-repeat center;
     background-size: cover;
   padding: 10px;
    height: 300px;
    width: 350px;}

div.imgg > div{
    background-color: #00000071;
    height: 220px;
    box-shadow: 3px 3px 5px black;
    border-radius: 3px;
}

div.imgg > div > p{
    padding: 10px;
    font-size: 1.3em;
}

footer{
    text-align: center;
    background-color: #20211f;
    height: 80px;
}

footer> a#f5{
     background-color: rgba(79, 65, 65, 0.566);
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 6px;
    margin: 10px;
}

#f5:hover{   
        background-color: black;
        transition: 0.5s;
}

footer > p{
    color: white;
    padding: 10px;
}









